In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
month_june = session.query(Measurement).filter(extract('month', Measurement.date) == 6)

In [5]:
#  3. Convert the June temperatures to a list.
monthJune_list = [temp.tobs for temp in month_june]

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
June_DF = pd.DataFrame(monthJune_list, columns=['June Temperature'])

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
June_DF.describe()

       June Temperature
count       1700.000000
mean          74.944118
std            3.257417
min           64.000000
25%           73.000000
50%           75.000000
75%           77.000000
max           85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
month_dec = session.query(Measurement).filter(extract('month', Measurement.date) == 12)

In [9]:
# 7. Convert the December temperatures to a list.
month_DecList= [temp.tobs for temp in month_dec]

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
Dec_DF= pd.DataFrame(month_DecList, columns=['December Temperatures'])

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
Dec_DF.describe()

       December Temperatures
count            1517.000000
mean               71.041529
std                 3.745920
min                56.000000
25%                69.000000
50%                71.000000
75%                74.000000
max                83.000000

In [12]:
comb_June_Dec = [June_DF, Dec_DF]

In [13]:
result_DF=pd.concat(comb_June_Dec)
result_DF.describe()

       June Temperature  December Temperatures
count       1700.000000            1517.000000
mean          74.944118              71.041529
std            3.257417               3.745920
min           64.000000              56.000000
25%           73.000000              69.000000
50%           75.000000              71.000000
75%           77.000000              74.000000
max           85.000000              83.000000

In [28]:
# For the month of December - PRECIP Analysis for no rain intervals and ideal for surfing
# We will also include an anlsysis of the precipaition since the sport of surfing is dependent on precipitationabs
# PRecipitation in Jyne
# Perform a query to retrieve the data and precipitation scores
results_precip_June = []
results_precip_June = session.query(Measurement).filter(extract('month', Measurement.date) == 6).filter(Measurement.prcp==0).count()
print(f"No rain frequency in June {results_precip_June}")

No rain frequency in June 647

In [29]:
# For the month of December where instances of preciptation are ZERO
# We will also include an anlsysi of the precipaition since the sport of surfing is dependent on precipitationabs
# PRecipitation in Jyne
# Perform a query to retrieve the data and precipitation scores
results_precip_Dec = []
results_precip_Dec = session.query(Measurement).filter(extract('month', Measurement.date) == 12).filter(Measurement.prcp==0).count()
print(f" No rain frequency in December {results_precip_Dec}")

 No rain frequency in December 510

In [30]:
# For the month of December where instances of preciptation are ZERO and weather station == USC00519281
# We will also include an anlsysi of the precipaition since the sport of surfing is dependent on precipitationabs
# PRecipitation in Jyne
# Perform a query to retrieve the data and precipitation scores
results_precip_Dec = session.query(Measurement).filter(extract('month', Measurement.date) == 12).filter(Measurement.prcp==0).filter(Measurement.station == "USC00519281") .count()
print(f" No rain frequency in December {results_precip_Dec}")

 No rain frequency in December 50